/MindIt.xcodeproj/project.pbxproj
MindIt/.DS_Store
/MindIt.xcworkspace/xcuserdata/swapnilgaikwad.xcuserdatad/UserInterfaceState.xcuserstate
/MindIt.xcworkspace/xcuserdata/swapnilgaikwad.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
/Pods/Pods.xcodeproj/xcuserdata/swapnilgaikwad.xcuserdatad/xcschemes/CryptoSwift.xcscheme
/Pods/Pods.xcodeproj/xcuserdata/swapnilgaikwad.xcuserdatad/xcschemes/Pods-MindIt.xcscheme
/Pods/Pods.xcodeproj/xcuserdata/swapnilgaikwad.xcuserdatad/xcschemes/SwiftDDP.xcscheme
/Pods/Pods.xcodeproj/xcuserdata/swapnilgaikwad.xcuserdatad/xcschemes/SwiftWebSocket.xcscheme
/Pods/Pods.xcodeproj/xcuserdata/swapnilgaikwad.xcuserdatad/xcschemes/XCGLogger.xcscheme
